---
BasedOnStyle: Google
AccessModifierOffset: '-2'
IndentCaseLabels: 'false'

IncludeCategories:
  - Regex: '<[A-Za-z0-9_]+>'
    Priority: 1
  - Regex: '[<"]raytracer/.*[>"]'
    Priority: 3
  - Regex: '<.*>'
    Priority: 2
  - Regex: '".*"'
    Priority: 4
...
